# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# General
*.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
